.main-content {
	margin-top: 75px;
}

.post-container {
	margin-bottom: 75px;
}

.post-title {
	font-weight: bold;
	font-size: 16px;
	margin-bottom: 10px;
}

.post-content {

}

.post-date {
	font-size: 12px
}

.photo-container {
	width: 215px;
}

.photo-container img {
	width: 100%;
	height: auto;
}

.sidebar {
	float: right;
	margin-right: 25px;
}

.sidebar-text {
	margin-top: 15px;
}

.sidebar-text ul {
	list-style-type: none;
	padding: 0;
	text-align: right;
}

#older-posts-link {
	float: right;
}

#newer-posts-link {
	float: left;
}
